{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Live Covid Tracker  {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>

<!-- <body background="./static/coronavirusgreen.jpg" style="height: 100%;width:100%;"> -->
<!-- <body background="./static/coronablue.jpg" > -->
<body style="background-color: black;">


    {% block content %}{% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->

</body>

</html>